# OS X
.DS_Store

# Unity
Temp
Library
Builds

# MonoDevelop
*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb

# IntelliJ
*.iml
*.idea

# NPM, Bower
node_modules/
_node_modules
bower_components/
npm-debug.log
Assets/AnimationMetaDatabase.prefab
Assets/AnimationMetaDatabase.prefab.meta
Assets/FacialAnimationsDatabase.prefab
Assets/FacialAnimationsDatabase.prefab.meta
coverage/

# browserify
build/
app.js
build/

# Unity folder locations
desktop.app
xcode

#Android builds
AndroidBuilds/
EducationProject/
AndroidProject/

#Screenshots
Assets/DarkArts Studios/

# Genereated files in StreamingAssets
Assets/StreamingAssets/JSON/ContentManifest/builtincontentmanifest.json

#Assets/StreamingAssets/Bundles/
Assets/StreamingAssets/Bundles/
Assets/StreamingAssets/Bundles.meta

#Assets/StreamingAssets/JSON/ContentManifest
Assets/StreamingAssets/JSON/ContentManifest.meta
Assets/StreamingAssets/JSON/ContentManifest/

Assets/StreamingAssets/Content/
Assets/StreamingAssets/Content.meta

Assets/StreamingAssets/Animation/
Assets/StreamingAssets/Animation.meta

BuildCaches/
contentTemplates/

#Support Project
Support Projects/ZipLibrary/ZipLibrary/obj/
Support Projects/ZipLibrary/ZipLibrary/bin/
Support Projects/ini-parser/ZipLibrary/Builds/
Support Projects/ini-parser/ZipLibrary/lib/


*.log
